script#random_code-method(type='text/x-template').
  <div class="space-y-4">

    <!-- Transport SMS (si autorisé pour cette méthode) -->
    <transport-form v-if="user.methods.random_code.transports.includes('sms')"
                    :user="user"
                    :messages="messages"
                    :infos="infos"
                    transport="sms"
                    inputType="tel"
                    :testAndSaveTransport="testAndSaveTransport"
                    :saveTransport="saveTransport"
                    :deleteTransport="deleteTransport"
                    :isManager="isManager"></transport-form>

    <!-- Transport Mail (si autorisé pour cette méthode) -->
    <transport-form v-if="user.methods.random_code.transports.includes('mail')"
                    :user="user"
                    :messages="messages"
                    :infos="infos"
                    transport="mail"
                    inputType="email"
                    :testAndSaveTransport="testAndSaveTransport"
                    :saveTransport="saveTransport"
                    :deleteTransport="deleteTransport"
                    :isManager="isManager"></transport-form>

  </div>
