script#random_code_mail-method(type='text/x-template').
  <div>
    <transport-form :user="user"
                    :messages="messages"
                    :infos="infos"
                    transport="mail"
                    inputType="email"
                    :testAndSaveTransport="testAndSaveTransport"
                    :saveTransport="saveTransport"
                    :deleteTransport="deleteTransport"
                    :isManager="isManager"></transport-form>
  </div>
