

/*  OTP manager style commun - 2 déc ******/

html,
body,
#app {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, arial, sans-serif;
}


header,
main,
footer {
    padding-left: 245px;
}

h1, .h1{font-size: 3.56rem;}
h2, .h2{font-size: 2.92rem;}
h3, .h3{font-size: 2.28rem;}
h4, .h4{font-size: 1.64rem;}
h5, .h5{font-size: 1rem;}

.side-nav.fixed { width: 245px; }

.side-nav a {
    /* Prevent a multi-line menu to be displayed over the next item. */
    height: auto;
    min-height: 48px;
    line-height: normal;
    align-content: center;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-nav, .top-nav h1 {
    box-shadow: none;
    font-size: 32px;
    line-height: 64px;
    -webkit-font-smoothing: antialiased;
}


#slide-out {
    transform: none;
    -webkit-transform: none;
}


@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 992px) {
    .nav-wrapper {
        display: initial;
        align-items: initial;
        justify-content: initial;
    }
}

nav, header {
    background: #424242;
}

.no-margin {
    margin: 0;
}

.sidenav-header {
    background-color: #000;
    background-image: url("../images/wallpaper_polygons.jpg") !important;
    background-size: 150% 500%;
    background-repeat: no-repeat;
    color: white;
}

#closebtn {
    color: #bbb;
    height: initial !important;
    line-height: initial !important;
    margin: 0 0 32px 74px;
    padding: 0 16px;
}

#closebtn i {
    font-size: 24px;
}

#closebtn:hover,
#closebtn:focus {
    color: white;
}

#slide-out .flex {
    display: flex;
    align-items: center;
    padding: 12px;
}

#slide-out { border: 1px solid #ccc; color: #444; }

#slide-out li.active,
#slide-out li.active a {
    background-color: #24847C;
    color: white;
}
#slide-out li.active a:hover { background-color: inherit; } /* overrride materializeCSS */

summary.collapsible-header{
    display: list-item;
}

#slide-out .collapsible-header  {
    background-color : #eeeef0;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin: 0;
    text-transform: uppercase;
}

.collapsible-header i {
    display: inline-block;
    float: none;
    vertical-align: bottom;
}

.collapsible-body {
    clear: both;
    display: block;
}

#language-accordion .collapsible-header i {
    margin-left: 1em;
}


/* Page d'accueil et les blocs méthodes */

.container {width: 86%; max-width: 1200px}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 19px;
}

.status {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 2px;
}

.status.enabled {
    background-color: green;
}

.status.disabled {
    background-color: #757575; /* grey darken-1 */
}

.methode {
    margin: 7px;
    margin-top: 9px;
    padding: 4px 11px 18px 14px;
    background: #eeeef0;
    width: 31% !important;
    color: #00326e;
    position: relative;
}

.methode:hover { box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.16), 2px 2px 10px 1px rgba(0,0,0,0.22); color : #2055aa}
.methode p { text-align: center; margin-bottom:0px; margin-top:10px;  }
.methode img {  padding: 0px; margin:0px; width:88px; }
.lock-solid { width:110px; margin: 0px 30px 0px 30px; }

span.lever.askActivation::after {
    left: 9.5px
}

.card { padding-top:25px;  background-color: #eeeef0; }

.input-field label {
    top: 1rem;
    left: 10px;
    color: #6C6C6C;
}

label { color: #555; font-size: 1.2rem; }

.totp-registration-ways {
    padding-left: 1em;
}

ul.totp-registration-ways>li {
    margin-top: 0.5em;
    list-style-type: circle;
}

#totpCode-input {
    height: 4rem;
}

.push-qrcode>img {
	width: 260px;
	height: 260px;
}

.totp-qrcode>img {
	width: 164px;
	height: 164px;
}

.swal2-input{
    width: 10ch !important;
    -moz-appearance: textfield; /* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
    box-sizing: border-box !important;
    margin: 0 auto !important;
}

/* https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp */
.swal2-input::-webkit-outer-spin-button,
.swal2-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.passcode_grid-method-codes caption {
    caption-side: bottom;
}

@media only screen and (min-width: 701px) {
    .container {width: 86%; max-width: 1200px}
}

@media only screen and (max-width: 700px) {
    .methode {  width:46% !important; }
    .methode img { width:70px; }
    .lock-solid { width:130px; margin: 3px 15px 0; }
}

@media only screen and (max-width: 480px) {
    .methode { width:96% !important; }
    .methode img { width:60px; }
}

@media only screen and (min-width: 992px) {
    #closebtn,
    /* hide the "menu" button if the menu is already displayed */
    #navButton {
        display:none;
    }
}

@media only screen and (max-width: 991px) {
    #slide-out.may-be-hidden {
        display:none;
    }

    /* hide the "menu" button if the menu is already displayed */
    header:not(:has(#slide-out.may-be-hidden)) #navButton {
        display: none;
    }
}

#navButton {
    color: white;
    padding: inherit;
}

#navButton {
    height: 64px;
    line-height: 64px;
}

#navButton:hover,
#navButton:focus {
    outline: white solid 1px;
}

.methode  {

    border: 1px solid #eee;
}
.methode:hover {

    border: 1px solid #aaa;
    cursor: pointer;
}
.btn, .btn-large {
  background-color: #00326e;
}

.green.contrasted {
    background-color:#418545 !important
}

.red.darken-1 {
    background-color: #CC332F!important;
}


.btn:hover,
.btn:focus,
.btn-large:hover,
.btn-large:focus {
	background: #00326e; /** only for btn with no color specified */
    outline: black solid 2px;
}

.webauthn-factor-rename-input {
    width: 35ch !important;
    text-align: center;
}

#app .collapsible-header#back-to-app {
    &.has_active_method {
        &, i {
            background-color:#418545 !important;
            color: white !important;
        }
        &:hover, &:hover i {
            background-color: #519555 !important;
        }
    }
    i {
        margin-right: 0.5rem !important;
    }
}